<h6><div style="font-family: Trebuchet MS; background-color: #1b191d; color: #FFFFFF; padding: 12px; font-size: 35px; line-height: 1.5;text-align: center; line-height: 1.;">üÖ∂üÜÑ üÜÅüÖ∞üÖΩüÖΩüÖ∞ üÖ∂üÖæüÜÑüÖ≥üÖ∞--üÖ≥üÖ∞üÜÉüÖ∞üÜÇüÖ≤üÖ∏üÖ¥üÖΩüÜÉ üë®‚Äçüíª</div> </h6>

<h1 style="font-family: Trebuchet MS; padding: 10px; font-size: 40px; color: #19AADE; text-align: center; line-height: 1.;"><b><span style="color: #000000"> Loops in Python </span></b><br><span style="color: #19AADE; font-size: 24px"></span></h1>
<hr>

1. The for loop in Python is used to iterate over a sequence (list, tuple, string) or other iterable objects. 


2. Iterating over a sequence is called traversal.

Two Types of Loop:

1. For Loop


2. While Loop

<h2><div style="font-family: Trebuchet MS; background-color: #1b191d; color: #FFFFFF; padding: 12px; font-size: 35px; line-height: 1.5;text-align: center; line-height: 1.;">üÖµüÖæüÜÅ--üÖªüÖæüÖæüÖø--üß®üí•</div>

1. The for loop in Python is used to iterate the statements or a part of the program several times. 

2. It is frequently used to traverse the data structures like list, tuple, or dictionary.

The syntax of for loop in python is given below.

for iterating_var in sequence:    
    statement(s)

<h8><div style="font-family: Trebuchet MS; background-color: #1b191d; color: #FFFFFF; padding: 12px; font-size: 35px; line-height: 1.5;text-align: center; line-height: 1.;">üÖµüÖæüÜÅ--üÖªüÖæüÖæüÖø üÜÑüÜÇüÖ∏üÖΩüÖ∂-üÜÅüÖ∞üÖΩüÖ∂üÖ¥()-üÖµüÜÑüÖΩüÖ≤üÜÉüÖ∏üÖæüÖΩ</div> </h8>

<h6><div style="font-family: Trebuchet MS; background-color: #1b191d; color: #FFFFFF; padding: 12px; font-size: 35px; line-height: 1.5;text-align: center; line-height: 1.;">üÜÅüÖ∞üÖΩüÖ∂üÖ¥()-üÖµüÜÑüÖΩüÖ≤üÜÉüÖ∏üÖæüÖΩ</div> </h6>


The range() function is used to generate the sequence of the numbers. If we pass the range(10), it will generate the numbers from 0 to 9. The syntax of the range() function is given below.

Syntax:

range(start,stop,step size)  

1. The start represents the beginning of the iteration.

2. The stop represents that the loop will iterate till stop-1. The range(1,5) will generate numbers 1 to 4 iterations. It is optional.

3. 
The step size is used to skip the specific numbers from the iteration. It is optional to use. By default, the step size is 1. It is optional.

# <h3 id="range">Range</h3>

Sometimes, you might want to repeat a given operation many times. Repeated executions like this are performed by <b>loops</b>. We will look at two types of loops, <code>for</code> loops and <code>while</code> loops.

Before we discuss loops lets discuss the <code>range</code> object. It is helpful to think of the range object as an ordered list. For now, let's look at the simplest case. If we would like to generate a sequence that contains three elements ordered from 0 to 2 we simply use the following command:

In [53]:
# Use the range

range(3)

range(0, 3)

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%203/Images/LoopsRange.png" width="300" />

![](2.png)

In [49]:
range(5)

range(0, 5)

In [57]:
range(0,21)

range(0, 21)

In [58]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [50]:
#Example-1: Program to print numbers in sequence.

for i in range(10):  
    print(i,end = ' ')

0 1 2 3 4 5 6 7 8 9

In [59]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [61]:
int(input('which table? '))

which table? 12

12

In [63]:
#Example - 2: Program to print table of given number.

n = int(input("Enter the number "))  
for i in range(1,11):  
    c = n*i  
    print(n,"*",i,"=",c)

Enter the number 10
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [64]:
#Example-3: Program to print even number using step size in range().
n = int(input("Enter the number "))  
for i in range(2,n,2):  
    print(i)

Enter the number 12
2
4
6
8
10

In [66]:
### write the code to get first 15 odd numbers
n = int(input("Enter the number "))  
for i in range(1,n,2):  
    print(i)

Enter the number 15
1
3
5
7
9
11
13

In [67]:
l = ['a','b','c','d']
print("hello", l[0])
print("hello", l[1])
print("hello", l[2])
print("hello", l[3])

hello a
hello b
hello c
hello d

In [68]:
len(l)

4

In [69]:
#We can also use the range() function with sequence of numbers. The len() function is combined with range() function which iterate through a sequence using indexing. Consider the following example.
list = ['Peter','Joseph','Ricky','Devansh']  
for i in range(len(list)):  
    print("Hello",list[i])

Hello Peter
Hello Joseph
Hello Ricky
Hello Devansh

In [70]:
for i in range(5):
    print(i)

0
1
2
3
4

In [71]:
# Example of for loop

for i in range(1, 8):
    print(i)

1
2
3
4
5
6
7

In [ ]:
# print the numbers from 25 with increment 3 upto 35

In [12]:
# Example of for loop

for i in range(2, 8):
    print(i)

2
3
4
5
6
7

In [13]:
for i in range(5):
    print("Jagan")

Jagan
Jagan
Jagan
Jagan
Jagan

# For loop using Sequence

In [77]:
# not elegant code
str = 'jagan'
for i in range(len(str)):
    print(str[i])

j
a
g
a
n

In [78]:
str = 'jagan'
for i in str:
    print(i)

j
a
g
a
n

In [14]:
#Example-: Iterating string using for loop

str = "Python"  
for i in str:  
    print(i)

P
y
t
h
o
n

# Iterating by index of sequences: 

We can also use the index of elements in the sequence to iterate. The key idea is to first calculate the length of the list and in iterate over the sequence within the range of this length.

In [79]:
# Python program to illustrate
# Iterating by index

List = ["python", "for", "ML"]
for index in range(len(List)):
	print (List[index])

python
for
ML

In [80]:
# write the above code in much simple manner - avoid len function
for i in List:
    print(i)

python
for
ML

In [ ]:
# Write a multiplication table for user input (only result)

In [16]:
#Example- 2: Program to print the table of the given number .

list = [1,2,3,4,5,6,7,8,9,10]  
n = 5  
for i in list:  
    c = n*i  
    print(c)

5
10
15
20
25
30
35
40
45
50

In [81]:
#Example-3: Program to print the sum of the given list.

list = [10,30,23,43,65,12]  
sum = 0  
for i in list:  
    sum = sum+i  
print("The sum is:",sum)

The sum is: 183

In [86]:
# write the code to compute 
# sum of first 10 natural numbers ?
n = int(input('enter the number'))
sum = 0
for i in range(1,n):
    sum = sum+i
print('the result is: ',sum)

enter the number34
the result is:  561

In [83]:
list = [10,30,23,43,65,12]  
sum = 0
for i in list:
    sum = sum+i
    print('the sum is :', sum)

the sum is : 183

In [87]:
# For loop example

dates = [1982,1980,1973]
N = len(dates)
print(N)

for i in range(N):
    print(dates[i])

3
1982
1980
1973

In [21]:
for i in [1982,1980,1973]:
    print(i)

1982
1980
1973

In [22]:
tech_companies = ['Google', 'Apple', 'Facebook', 'Uber', 'Intel']

In [89]:
for company in tech_companies:
    
    print(company)

Google
Apple
Facebook
Uber
Intel

In [90]:
some_numbers = [10, 20, 30, 40, 50]
for num in some_numbers:
    print('The number is: ', num)

The number is:  10
The number is:  20
The number is:  30
The number is:  40
The number is:  50

In [92]:
some_numbers = [10, 20, 30, 40, 50]
total = 0
for num in some_numbers:
    total = total + num
    print('The current value of total is: ', total)

The current value of total is:  10
The current value of total is:  30
The current value of total is:  60
The current value of total is:  100
The current value of total is:  150

In [93]:
some_numbers = [10, 20, 30, 40, 50]
total = 0

for num in some_numbers:
    total = total + num

print('The total of all numbers: ', total)

The total of all numbers:  150

In [27]:
some_numbers = [10, 20, 30, 40, 50]
total = 100

for num in some_numbers:
    total = total + num

print('The total of all numbers (initial value set to 100): ', total)

The total of all numbers (initial value set to 100):  250

In [94]:
some_numbers = [10, 20, 30, 40, 50]
count = 0

for num in some_numbers:
    count = count + 1
    
print('The total length of the array is: ', count)

The total length of the array is:  5

In [95]:
# Use for loop to change the elements in list

squares = ['red', 'yellow', 'green', 'purple', 'blue']

for i in range(0, 5):
    print("Before square ", i, 'is',  squares[i])
    squares[i] = 'weight'
    print("After square ", i, 'is',  squares[i])

Before square  0 is red
After square  0 is weight
Before square  1 is yellow
After square  1 is weight
Before square  2 is green
After square  2 is weight
Before square  3 is purple
After square  3 is weight
Before square  4 is blue
After square  4 is weight

In [96]:
squares

['weight', 'weight', 'weight', 'weight', 'weight']

In [97]:
# Loop through the list and iterate on both index and element value

squares=['red', 'yellow', 'green', 'purple', 'blue']

for i, square in enumerate(squares):
    print(i, square)

0 red
1 yellow
2 green
3 purple
4 blue

In [101]:
math_scores = {
    "Ram": 97, 
    "Kumar": 35,
    "Kishan": 67,
    "Natasha": 73 }

In [99]:
math_scores.keys()

dict_keys(['Ram', 'Kumar', 'Kishan', 'Natasha'])

In [100]:
math_scores.values()

dict_values([97, 35, 67, 73])

In [102]:
for item in math_scores.values():
    print(item)

97
35
67
73

In [103]:
for item in math_scores:
    print(item)
    
print('This retains the value of the last item in the list', item)

Ram
Kumar
Kishan
Natasha
This retains the value of the last item in the list Natasha

In [43]:
for key in math_scores.keys():
    print(key)
    
print('This retains the value of the last item in the list', key)

Ram
Kumar
Kishan
Natasha
This retains the value of the last item in the list Natasha

In [44]:
for val in math_scores.values():
    print(val)

97
35
67
73

In [45]:
for key in math_scores:
    print('Key: ', key, math_scores[key])

Key:  Ram 97
Key:  Kumar 35
Key:  Kishan 67
Key:  Natasha 73

In [46]:
for item in math_scores.items():
    print(item)

('Ram', 97)
('Kumar', 35)
('Kishan', 67)
('Natasha', 73)

In [47]:
for key, value in math_scores.items():
    print(key, value)

Ram 97
Kumar 35
Kishan 67
Natasha 73

# Using else statement with for loops:

Unlike other languages like C, C++, or Java, Python allows us to use the else statement with the for loop which can be executed only when all the iterations are exhausted. 

Here, we must notice that if the loop contains any of the break statement then the else statement will not be executed.

We can also combine else statement with for loop like in while loop. 

But as there is no condition in for loop based on which the execution will terminate so the else block will be executed immediately after for block finishes execution. 


Below example explains how to do this:

In [45]:
#Example 1
for i in range(0,5):    
    print(i)    
else:  
    print("for loop completely exhausted, since there is no break.")

0
1
2
3
4
for loop completely exhausted, since there is no break.

In [48]:
# Python program to illustrate
# combining else with for

List = ["India", "for", "India"]
for index in range(len(List)):
	print (List[index])
else:
	print ("Inside Else Block")

India
for
India
Inside Else Block